<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Strona główna</title>
<div th:replace="fragments/beforeBody :: beforeBody" />
</head>


<body>
	<div class="page">
		<div class="page-container">
			<div th:replace="fragments/header :: header" />

			<div class="content">
				<div class="center-700">
					Dodałeś nowy dom o nazwie <b th:text="${houseAction.name}"/> w miejscowości <b th:text="${houseAction.city}"/>
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>
</body>
</html>