<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Strona główna</title>
<div th:replace="fragments/beforeBody :: beforeBody" />
</head>


<body>
	<div class="page">
		<div class="page-container">
			<div th:replace="fragments/header :: header" />
			
			<div class="content">
				<div class="panel">
					<div class="panel-title">
						Panel Administratora
					</div>
					
					<div th:replace="fragments/adminNavigation :: adminNavigation" />
					
					<div class="panel-content">
						<div class="panel-center">
							Witaj adminie!
						</div>
					</div>
				</div>
			</div>
	
			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>
</body>
</html>